.jumbotron {
  padding-top: 5rem;
  background-color: #f0ecc8;
}
section {
  padding-top: 5rem;
}
.moreText {
  display: none;
}
.read-more-btn {
  padding: 15px 60px;
  background-color: aquamarine;
  cursor: pointer;
}
.text.show-more .moreText {
  display: inline;
}
.text.show-more .dots {
  display: none;
}
